.menu-item {
    display: inline-block;
    text-align: center;
    justify-content:space-between;
    align-self: stretch;
    row-gap: 34px;
    width: 200px;
}

.menu-link {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-align: left;
    text-decoration: none;
    color: red;
}

div {
    text-align: center;
}

.img {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

    body {
        margin: 0;
}

.zagolovok {
    color: #373737;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3.3px;
    margin-top: 48px;
    margin-bottom: 0;
}

.paragraf1 {
    color: #373737;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    padding: 0px;
    margin: 38px 67px 0 67px;
}

.paragraf2 {
    color: #373737;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    padding: 0px;
    margin: 28px 67px 0 67px;
}

.button {
    text-align: center;
    background-color: red;
    border-radius: 4px;
    width: 191px;
    height: 51px;
    flex-shrink: 0;
    color: white;
    border: none;
    display: inline-block;
}

.footer {
    height: 39px;
    align-items: center;
    text-align: right;
    margin: 0px 105px 29px 105px;
    color: #373737;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
}

.perepichka {

    display: flex;
    align-items: center;
    padding: 0;
    margin: 32px 0 32px 0;
    align-self: stretch;
    justify-content: center;
    text-align: center;
}

.perepichka-button {
    margin-top: 66px;
    margin-bottom: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
}
